<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>

<div style="padding: 20px;"
     xmlns:th="http://www.thymeleaf.org"
     th:with="approvalTracker=${tracker}">
    <h3>Request</h3>
    <table class="table table-condensed">
        <tr>
            <td class="caption">Created</td>
            <td th:text="${approvalTracker.timeCreated}">12/2/2017</td>
        </tr>

        <tr>
            <td class="caption">Type</td>
            <td th:text="${approvalTracker.type}">Budget</td>
        </tr>

        <tr>
            <td class="caption">Creator</td>
            <td th:text="${approvalTracker.creator}">Boniface Chacha</td>
        </tr>

        <tr>
            <td class="caption">Reference</td>
            <td th:text="${approvalTracker.reference}">1245645</td>
        </tr>

        <tr>
            <td class="caption">Status</td>
            <td th:text="${approvalTracker.status}">Pending</td>
        </tr>

        <tr th:if="${approvalTracker.isComplete()}">
            <td class="caption">Approval time</td>
            <td th:text="${@approvalTrackerService.getTimeApprovalProcessFinished(approvalTracker)}">32/3/2333</td>
        </tr>
        <tr>
            <td class="caption">Description</td>
            <td th:text="${approvalTracker.description}">Some loooong description</td>
        </tr>


    </table>


    <div th:if="${!approvalTracker.isComplete()}">
        <h3>Current Approvers</h3>
        <ul>
            <th:block th:each="approver:${@approvalTrackerService.getCurrentApprovers(approvalTracker)}">
                <ol th:text="${approver.name}">Marwa Chacha</ol>
            </th:block>
        </ul>
    </div>

    <div th:if="${@approvalTrackerService.isApprovalStarted(approvalTracker)}">
        <h3>Approval History</h3>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Personnel</th>
                <th>Action</th>
                <th>Description</th>
                <th>Overrider</th>
            </tr>

            <th:block th:each="event:${@approvalTrackerService.getEvents(approvalTracker)}">
                <tr>
                    <td th:text="${event.timeCreated}">34/3/3454</td>
                    <td th:text="${event.user}">Boniface Chacha</td>
                    <td th:text="${event.status}"
                        th:style="${'color:'+T(com.niafikra.dimension.approval.ui.vaadin.Styles).determineApprovalActionColor(event)}">
                        Approved
                    </td>
                    <td th:text="${event.comment}" class="long-text">Some looong comment</td>
                    <td th:text="${event.overrider}">Boniface Chacha</td>
                </tr>
            </th:block>
        </table>
    </div>
</div>