<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/action_mail_simple}"
     th:with="trackerService=${applicationContext.getBean('approvalTrackerService')}">

    <div layout:fragment="heading">
        <span th:text="'Hello '+${trackerService.getRecentEvent(tracker).user}">
            Hello Boniface Chacha
        </span>
        <br/>
        <span th:text="'You account has been used to '
        +${tracker.recentEvent.approved? 'approve':'decline'}
        + ' a '
        +${tracker.type}
        +' request. Notify administrator incase you dont recognise this action'">
            Your account has been used to approve a requisition request. Notify administrator incase you do not recognise this action
        </span>

    </div>

    <div layout:fragment="message">
        <br/>
        <b th:text="${tracker.description}">Your request XYZ</b>
    </div>
</div>