<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/alert_mail_simple}">

    <div layout:fragment="heading">
        <span th:text="'Dear '+${tracker.creator}">
            Dear Boniface Chacha
        </span>
        <br>
        <span th:text="'We are sorry to notify you that your '+${tracker.type} + ' request has been declined'">
            Your request is cancelled
        </span>
    </div>

    <div layout:fragment="message">
        <br>
        <span th:text="${tracker.description}">Your request XYZ is declined</span>
    </div>
</div>