<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/alert_mail_simple}">

    <div layout:fragment="heading">
        <h2>Approval Override Alert</h2>
        <span th:text="'Dear '+${event.user}">
            Dear Boniface Chacha
        </span>
        <br>
        <span th:text="${event.overrider}+' has overrode your approval and '+${event.approved?'approved':'declined'}+' a '+${tracker.type} + ' request'">
            Boniface CHACHA has overrode your approval
        </span>
    </div>

    <div layout:fragment="message">
        <br>
        <span th:text="${tracker.description}">Your request XYZ is declined</span>
    </div>
</div>