<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/alert_mail_simple}">

    <div layout:fragment="heading">
        <h2>"Alert: We need your immediate response"</h2>
        <span th:text="'Dear '+${approver}">
            Dear Boniface Chacha
        </span>
        <br>
        <span th:text="${tracker.type} + ' is waiting for your approval'">
            Request is waiting for yout approval
        </span>
    </div>

    <div layout:fragment="message">
        <br>
        <span th:text="${tracker.description}">Your request XYZ is declined</span>
    </div>
</div>