<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/action_mail_simple}">

    <div layout:fragment="heading">
        <span th:text="'Congratulation '+${tracker.creator}">
            Congratulation Boniface Chacha
        </span>
        <br>
        <span th:text="'Your '+${tracker.type} + ' is approved'">
            Your request is approved
        </span>
    </div>

    <div layout:fragment="message">
        <br>
        <span th:text="${tracker.description}">Your request XYZ</span>
    </div>
</div>