<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/alert_mail_simple}">

    <div layout:fragment="heading">
        <h2>Approval Override Alert</h2>
        <span th:text="'Dear '+${event.overrider}">
            Dear Boniface Chacha
        </span>
        <br>
        <span th:text="'You have just overrode '+${event.user}+' approval and '+${event.approved?'approved':'declined'}+' a '+${tracker.type} + 'request'">
            You have just overrode approval and declined ..
        </span>
    </div>

    <div layout:fragment="message">
        <br>
        <span th:text="${tracker.description}">Your request XYZ is declined</span>
    </div>
</div>