<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>
<div class="adjustment" xmlns:th="http://www.thymeleaf.org"
     th:with="budgetService=${applicationContext.getBean('budgetService')},allocationService=${applicationContext.getBean('allocationService')}"
     style="margin-top: 0px">

    <div xmlns:th="http://www.thymeleaf.org"
         th:with="expenseService=${applicationContext.getBean('expenseService')}">
        <h3 th:text="'ALLOCATION ADJUSTMENT FOR '+${allocationAdjustment.budget}">Budget title</h3>
        <table class="table table-bordered  table-striped"
               th:with="adjustmentService=${applicationContext.getBean('allocationAdjustmentService')}">
            <tr scope="row">
                <th width="20%">Role</th>
                <td><b th:text="${allocationAdjustment.role}"></b></td>
            </tr>
            <tr scope="row">
                <th width="20%">Resource</th>
                <td><b th:text="${allocationAdjustment.resource}"></b></td>
            </tr>
            <tr scope="row">
                <th width="20%">Allocated</th>
                <td>
                    <b th:text="${allocationService.calculateTotalAllocated(allocationAdjustment.budget,allocationAdjustment.role,allocationAdjustment.resource)}"></b>
                </td>
            </tr>
            <tr scope="row">
                <th width="20%">Balance</th>
                <td>
                    <b th:text="${expenseService.calculateTotalBalance(allocationAdjustment.budget,allocationAdjustment.role,allocationAdjustment.resource)}"></b>
                </td>
            </tr>
            <tr scope="row">
                <th width="20%">Adjustment</th>
                <td><b th:text="${allocationAdjustment.allocatedAmount}"></b></td>
            </tr>
            <tr scope="row">
                <th width="20%">Status</th>
                <td><b th:text="${adjustmentService.generateStatus(allocationAdjustment)}"></b></td>
            </tr>
            <tr scope="row">
                <th width="20%">Total Budget Allocation</th>
                <td th:text="${budgetService.calculateTotalAllocation(allocationAdjustment.budget)}">0 TZS</td>
            </tr>
            <tr scope="row">
                <th width="20%">Total Budget Balance</th>
                <td th:text="${expenseService.calculateTotalBalance(allocationAdjustment.budget)}">0 TZS</td>
            </tr>
            <tr scope="row">
                <th width="20%">Budget Allocated Fund</th>
                <td th:text="${allocationAdjustment.budget.fund}">0 TZS</td>
            </tr>
        </table>
        <p th:text="${allocationAdjustment.reason}">Adjustment allocation reason, this is a dummy reason for the
            adjustment</p>
    </div>
    <div xmlns:th="http://www.thymeleaf.org">
        <table width="60%">
            <tr>
                <td width="5%">By</td>
                <td th:text="${allocationAdjustment.creator}">Juma mketto</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Time created:</td>
                <td th:text="${allocationAdjustment.timeCreated}"></td>
            </tr>
        </table>
    </div>
    <div>
        <hr>
    </div>

</div>