<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>
<div class="adjustment" xmlns:th="http://www.thymeleaf.org"
     th:with="budgetService=${applicationContext.getBean('budgetService')}">

    <div xmlns:th="http://www.thymeleaf.org"
         th:with="expenseService=${applicationContext.getBean('expenseService')}">
        <h3 th:text="${periodAdjustment.budget}">Budget title</h3>
        <table class="table table-bordered  table-striped"
               th:with="adjustmentService=${applicationContext.getBean('periodAdjustmentService')}">
            <tr scope="row">
                <th width="20%">Proposed End date</th>
                <td><b th:text="${periodAdjustment.proposedEndDate}"></b></td>
            </tr>
            <tr scope="row">
                <th width="20%">Current End date</th>
                <td th:text="${periodAdjustment.getCurrentEndDate()}"></td>
            </tr>
            <tr scope="row">
                <th width="20%">Status</th>
                <td><b th:text="${adjustmentService.generateStatus(periodAdjustment)}"></b></td>
            </tr>
            <tr scope="row">
                <th width="20%">Allocation</th>
                <td th:text="${budgetService.calculateTotalAllocation(periodAdjustment.budget)}">0 TZS</td>
            </tr>
            <tr scope="row">
                <th width="20%">Balance</th>
                <td th:text="${expenseService.calculateTotalBalance(periodAdjustment.budget)}">0 TZS</td>
            </tr>
        </table>
        <p th:text="${periodAdjustment.reason}">Adjustment period reason, this is a dummy reason for the adjustment</p>
    </div>
    <div xmlns:th="http://www.thymeleaf.org">
        <table width="60%">
            <tr>
                <td width="5%">By</td>
                <td th:text="${periodAdjustment.creator}">Juma mketto</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Time created:</td>
                <td th:text="${periodAdjustment.timeCreated}"></td>
            </tr>
        </table>
    </div>

</div>