<div xmlns:th="http://www.thymeleaf.org"
     class="requisition"
     th:with="requisitionService=${applicationContext.getBean('requisitionService')}">
    <div class="width100" style="margin-bottom: 30px;">
        <h3 class="center underlined"
            th:text="${requisition.budget.title}">XYZ Project Sample Budget</h3>
        <table class="width100">
            <tbody>
            <tr>
                <td class="width50" style="padding-right: 40px;">
                    <table class="width100 table-bordered">
                        <tbody>
                        <tr>
                            <td>ID</td>
                            <td th:text="${requisition.id.toString()}">00000000001</td>
                        </tr>
                        <tr>
                            <td>Personnel</td>
                            <td th:text="${requisition.creator.name}">Boniface Chacha</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td th:text="${requisitionService.getStatus(requisition)}">Pending payment</td>
                        </tr>
                        <tr>
                            <td>Requested</td>
                            <td th:text="${requisition.requestedAmount}">2300000.00</td>
                        </tr>
                        <tr>
                            <td>Approved</td>
                            <td th:text="${requisition.approvedAmount}">2300000.00</td>
                        </tr>

                        <th:block th:if="${requisition.isApproved()}">
                            <tr>
                                <td>Paid</td>
                                <td th:text="${requisition.paidAmount}">500000.00</td>
                            </tr>
                            <tr>
                                <td>Pending</td>
                                <td th:text="${requisition.pendingAmount}">1800000.00</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </td>
                <td class="width50" style="vertical-align: top;">
                    <table class="width100 table-bottom-bordered">
                        <tbody>
                        <tr>
                            <td>Role</td>
                            <td th:text="${requisition.role}">P&amp;E Project Admin</td>
                        </tr>
                        <tr>
                            <td>Resource</td>
                            <td th:text="${requisition.resource}">Travel Allowances</td>
                        </tr>
                        <tr>
                            <td>Consumer</td>
                            <td th:text="${requisition.consumer}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <th:block th:with="attachments=${requisition.attachments}">
                            <div th:replace="core/_attachments::attachments">
                                <span>Attachments</span>
                            </div>
                        </th:block>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="width100">
        <span>
            <i th:text="${requisition.description}">FTP is generally more secure when users are restricted to a specific directory.vsftpd accomplishes this with chroot jails. When chroot is enabled for local users, they are restricted to their home directory by default. However, because of the way vsftpd secures the directory, it must not be writable by the user. This is fine for a new user who should only connect via FTP, but an existing user may need to write to their home folder if they also shell access.</i>
        </span>
    </div>
    <br>
    <table>
        <tbody>
        <tr>
            <td></td>
            <td>By</td>
            <td th:text="${requisition.creator}">Boniface Chacha</td>
        </tr>
        <tr>
            <td>

                <div class="text-center">

                    <img width="70px"
                         height="70px"
                         src="http://via.placeholder.com/70x70"
                         class="img-circle"/>
                </div>

            </td>
            <td>Time</td>
            <td th:text="${requisition.timeCreated}">21-11-2017 10:19:25</td>
        </tr>
        </tbody>
    </table>
    <br>

    <div th:if="${requisition.isPaymentProcessed()}">
        <h3 class="center underlined">Payment</h3>
        <table class="width100 table-bordered">
            <tbody>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Payment</th>
                <th>By</th>
            </tr>
            <th:block th:each="exp:${requisition.expenses}">
                <tr>
                    <td th:text="${exp.paymentTime}">21-11-2017 13:26:10</td>
                    <td th:text="${exp.paidAmount}">50000.00</td>
                    <td th:text="${exp.paymentMethod}">Cash</td>
                    <td th:text="${exp.payment.creator.name}">Thomas Mrimi</td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <div th:if="${not #lists.isEmpty(requisition.retirements)}">
            <h3 class="center underlined">Retirement</h3>
            <table class="width100 table-bordered">
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>

                <th:block th:each="retirement:${requisition.retirements}"
                          th:with="retirementService=${applicationContext.getBean('retirementService')}">
                    <tr>
                        <td th:text="${retirement.timeCreated}">21-21-2343</td>
                        <td th:text="${retirement.description}" class="long-text">Some description</td>
                        <td>
                            <b th:text="${retirement.amount}">2321443543</b>
                        </td>
                    </tr>
                </th:block>

            </table>
        </div>

    </div>

</div>