<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>

<div xmlns:th="http://www.thymeleaf.org"
     class="container-fluid"
     th:with="retirementService=${applicationContext.getBean('retirementService')}">
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-bordered">
                <tr>
                    <td>Total</td>
                    <td><b th:text="${retirement.getTotal()}">12,345,678 TZS</b></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td th:text="${retirementService.getStatus(retirement)}">Draft</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12">
            <h4>Submited Retirement</h4>

            <table class="table table-bordered table-condensed">
                <th:block th:each="entry:${retirement.entries}">
                    <tr>
                        <td th:text="${entry.description}">Some description</td>
                        <td class="no-word-wrap"><b th:text="${entry.amount}">2,000,000 TZS</b></td>
                        <td>
                            <th:block th:with="attachments=${entry.attachments}">
                                <div th:replace="core/_attachments::attachments"></div>
                            </th:block>
                        </td>
                        <td>
                            <b th:text="${retirementService.calculateEntryPercentage(entry)}+'%'">80%</b>
                        </td>
                        <td th:text="${entry.accepted?'Accepted':'Not accepted'}">Accepted</td>
                    </tr>
                </th:block>
            </table>
        </div>
        <div class="col-xs-12">
            <th:block th:with="creator=${retirement.creator},time=${retirement.timeCreated}">
                <div th:replace="core/_creator::creator"></div>
            </th:block>
        </div>
    </div>
    <hr class="col-xs-12">
    <h4>Associated Expense</h4>
    <th:block th:with="expense=${retirement.expense}">
        <div th:replace="plan/_expense::expense">
        </div>
    </th:block>

</div>
