<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>
<div class="expense container-fluid"
     xmlns:th="http://www.thymeleaf.org"
     th:with="retirementService=${applicationContext.getBean('retirementService')}">

    <div class="row">
        <div th:class="${#lists.isEmpty(entry.attachments)?'col-xs-12':'col-xs-8'}">
            <table class="table" style="margin-bottom: 0px !important;">
                <tr th:with="entryPercent=${retirementService.calculateEntryPercentage(entry)}">
                    <td width="70px">Amount</td>
                    <td>
                        <b th:text="${entry.amount}">24,000 TZS</b>
                    </td>
                    <td  th:if="${entryPercent}">
                        <b th:text="${entryPercent}+'%'">80%</b>
                    </td>
                </tr>
            </table>
            <div>
                <span th:text="${entry.description}" class="long-text">With horizontal scrolling, it might be desirable to still keep columns identifying each row visible all the time so that it’s easier for the user to interpret the data.
                </span>
            </div>
        </div>
        <div class="col-xs-4" th:if="${not #lists.isEmpty(entry.attachments)}">
            <th:block th:with="attachments=${entry.attachments}">
                <div th:replace="core/_attachments::attachments">
                </div>
            </th:block>
        </div>

    </div>
</div>