<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="attachments">
    <ol>
        <th:block th:each="attachment:${attachments}">
            <li>
                <div th:fragment="attachment">
                    <a th:href="'/api/v1/attachment/'+${attachment.id}"
                       th:text="${attachment.name}"
                       target="_blank">Attachment ABC</a>
                </div>
            </li>
        </th:block>
    </ol>
</div>