<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>
<div class="container-fluid"
     xmlns:th="http://www.thymeleaf.org"
     th:with="delegationService=${applicationContext.getBean('delegationService')}">

    <div class="row">
        <div class="col-xs-12">
            <h3 th:text="'Delegation of '+${delegation.group}">Delegation of IT Administrator</h3>
        </div>
        <div class="col-xs-12">
            <table class="table table-bordered">
                <tr>
                    <td>By</td>
                    <td th:text="${delegation.delegator}">Thomas Mrimi</td>
                </tr>

                <tr>
                    <td>Delegate to</td>
                    <td th:text="${delegation.delegatee}">Clemence Lyakwipa</td>
                </tr>

                <tr>
                    <td>From</td>
                    <td th:text="${#temporals.format(delegation.startDate, 'dd MMMM yyyy')}">12/3/2017</td>
                </tr>

                <tr>
                    <td>To</td>
                    <td th:text="${#temporals.format(delegation.endDate, 'dd MMMM yyyy')}">12/6/2017</td>
                </tr>

                <tr>
                    <td>Status</td>
                    <td th:text="${delegationService.getStatus(delegation)}">Waiting for approval</td>
                </tr>
            </table>
            <br/>
        </div>

        <div class="col-xs-12">
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-circle"
                         th:src="'VAADIN/themes/dimension/img/profile-pic-300px.jpg'"
                         src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4"
                         style="width: 40px">
                </div>
                <div class="media-body">
                    <strong class="text-primary media-heading"
                            th:text="${delegation.creator}">Boniface Chacha</strong>
                    <br/>
                    <p th:text="${delegation.reason}"> Cras sit amet nibh libero, in gravida nulla. Nulla vel
                        metus scelerisque ante
                        sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                        turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                        felis
                        in faucibus.</p>
                    <small class="text-muted"
                           th:text="${#temporals.format(delegation.timeCreated, 'dd MMMM yyyy HH:mm')}">
                        12th December 2017
                    </small>
                </div>
            </div>
        </div>

    </div>

</div>