<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="picture">
    <img th:width="${width}"
         th:height="${height}"
         th:class="${classes}"
         th:src="'/api/v1/attachment/'+${picture.id}"
         th:if="${picture}"/>

    <img th:width="${width}"
         th:height="${height}"
         th:class="${classes}"
         src="http://via.placeholder.com/70x70"
         th:unless="${picture}"/>
</div>