.circle {
    background: #7f8c8d;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    margin-left: 132px;
}

.line {
    height: 40px;
    width: 3px;
    background: #7f8c8d;
    margin-left: 135px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.timeline {
    margin: 0 auto;
    overflow: auto;
    height: auto;
    width: auto;
}

.show {
    overflow: visible;
}

.cal {
    float: left;
}

.cal .date-min {
    border: 1px solid #c2c2c2;
    width: 70px;
    float: left;
    background: #70bfc8;
    margin-top: -3px;
    border: none;
}

.mm {
    background: #16a085;
    color: #fff;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 7px;
    font-size: 11px;
    font-weight: bold;
}

.dd {
    background: #ecf0f1;
    width: 70px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 13px;
    color: #3b3a36;
    font-weight: bold;
}

.other {
    float: left;
    overflow: visible;
    width: auto;
    height: auto;
    position: relative;
}

.dl {
    float: left;
    width: 80px;
    height: 100%;
    overflow: visible;
    position: absolute;
}

.ln-short {
    height: 2px;
    width: 40px;
    background: #7f8c8d;
    margin-top: 25px;
    margin-bottom: -1px;
    float: left;
}

.ln {
    height: -moz-calc(100% - 53px);
    height: -webkit-calc(100% - 53px);
    height: -o-calc(100% - 53px);
    height: calc(100% - 53px);
    width: 3px;
    background: #7f8c8d;
    margin-left: 25px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.date {
    background: #f3f3f3;
    width: 48px;
    height: 48px;
    border: 1px solid #7f8c8d;
    text-align: center;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    padding: 2px;
}

.date img {
    width: 46px;
    height: 48px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}

.date-only {
    width: 85px;
    text-align: center;
    background: #fff;
    border: 1px solid #a0a0a0;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.contents {
    background: #ecf0f1;
    margin-left: 80px;
    float: left;
    height: auto;
    padding-bottom: 10px;
    overflow: auto;
    padding: 5px;
    border: 1px solid #dedede;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    border: none;
}

.contents h3 {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #575f60;
}

.contents p {
    text-align: justify;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.contents span em {
    font-style: normal;
}

.contents span span {
    color: #10957b;
    font-weight: bold;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-left: -10px;
    z-index: 1000;
    border-right: 10px solid blue;
}

.dt {
    float: right;
}

.end {
    margin-bottom: 20px;
}

.defaultpicture {
    border-radius: 100%;
    width: 44px;
    height: 44px;
    padding: 4px;
    color: #808080;
    text-align: center;
    font: 28px Arial, sans-serif;
}