<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="container-fluid text-center"
     xmlns:th="http://www.thymeleaf.org" >

    <th:block
            th:with="picture=${null}, width=70,height=70,classes='align-self-center text-center img-thumbnail img-rounded'">
        <div th:replace="core/_picture::picture">
            <img width="70px" height="70px" src="http://via.placeholder.com/70x70"
                 class="align-self-center img-thumbnail img-rounded"/>
        </div>
    </th:block>
    <h3 th:text="${user.name}">Boniface Chacha</h3>
</div>