<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/action_mail_simple}">

    <div layout:fragment="heading">
        <span th:text="'Dear '+${delegation.delegatee}">
            Dear Boniface Chacha
        </span>

    </div>

    <div layout:fragment="message">
        <br>
        <span th:text="'The delegation of '+${delegation.group} + ' to you by '+${delegation.delegator}+' is now active'">
           The delegation is now active
        </span>
    </div>
</div>