<div
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <table width="100%">
        <tbody>
            <tr>
                <td></td>
                <td width="80%">
                    <div layout:fragment="heading">
                        <span>Dear Boniface Chacha</span>
                        <br>
                        <span>We have submitted your Requisition request. We will notify you when the approval process
                            is complete.
                        </span>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table width="100%">
        <tbody>
            <tr>
                <td></td>
                <td width="80%">
                    <div layout:fragment="message">
                        <br>
                        <span>2300000 of 2300000 for Travel Allowances by P&amp;E Project Admin</span>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table width="100%">
        <tbody>
            <tr>
                <td></td>
                <td width="80%">
                    <div layout:fragment="footer">
                        <span>-- The Dimension Team</span>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table width="100%">
        <tbody>
            <tr>
                <td></td>
                <td width="80%">
                    <div>
                        <a href="http://pms.pivotechgroup.com"
                           target="_blank">Dimension
                        </a>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>