<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<div class="container-fluid"
     xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-md-4">
            <table class="table table-borderless table-condensed">
                <tr>
                    <td class="text-muted">Requested By</td>
                    <td th:text="${inventoryRequisition.creator}"><b>Boniface Chacha</b></td>
                </tr>

                <tr>
                    <td class="text-muted">Requested By</td>
                    <td th:text="${@inventoryRequisitionService.getStatus(inventoryRequisition)}"><b>Pending Approval</b></td>
                </tr>

                <tr>
                    <td class="text-muted">Created On</td>
                    <td th:text="${inventoryRequisition.timeCreated}" class="no-word-wrap">12-2-2020 12:34</td>
                </tr>

                <tr>
                    <td class="text-muted">Due Date</td>
                    <td th:text="${inventoryRequisition.dueDate}" class="no-word-wrap">12-2-2020</td>
                </tr>

            </table>
        </div>
    </div>

</div>