<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<div class="container-fluid"
     xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-md-4">
            <table class="table table-borderless table-condensed">
                <tr>
                    <td class="text-muted">Requested By</td>
                    <td th:text="${inventoryRequisition.creator}"><b>Boniface Chacha</b></td>
                </tr>

                <tr>
                    <td class="text-muted">Created On</td>
                    <td th:text="${inventoryRequisition.timeCreated}" class="no-word-wrap">12-2-2020 12:34</td>
                </tr>

                <tr>
                    <td class="text-muted">Due Date</td>
                    <td th:text="${inventoryRequisition.dueDate}" class="no-word-wrap">12-2-2020</td>
                </tr>

                <tr>
                    <td class="text-muted">Status</td>
                    <td th:text="${@inventoryRequisitionService.getStatus(inventoryRequisition)}" class="no-word-wrap">Approved</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>

                    <th:block th:if="${@approvalTrackerService.isApproved(inventoryRequisition)}">
                        <th class="col-xs-8 long-text">Requested Item</th>
                        <th class="col-xs-2">Quantity</th>
                        <th class="col-xs-2">Status</th>
                    </th:block>
                    <th:block th:unless="${@approvalTrackerService.isApproved(inventoryRequisition)}">
                        <th class="col-xs-9 long-text">Requested Item</th>
                        <th class="col-xs-3">Quantity</th>
                    </th:block>
                </tr>

                <th:block th:each="entry:${inventoryRequisition.entries}">
                    <tr>
                        <td>
                            <div>
                                <b th:text="${entry.item}">Item 1</b><br/>
                                <i class="long-text" th:text="${entry.notes}"> Some loong description about the request</i>
                            </div>
                            <th:block th:with="attachments=${entry.attachments}">
                                <div th:replace="core/_attachments::attachments"></div>
                            </th:block>
                        </td>
                        <td>
                            <b th:text="${entry.requestedQuantity}" class="no-word-wrap">456</b>
                        </td>

                        <th:block th:if="${@approvalTrackerService.isApproved(inventoryRequisition)}">
                            <td th:text="${@inventoryRequisitionService.getStatus(entry)}">Approved</td>
                        </th:block>
                    </tr>
                </th:block>

            </table>
        </div>
    </div>

<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            <h3 class="text-muted">Submitted By</i></h3>-->
<!--            <h4 th:text="${inventoryRequisition.creator}">Marwa Chacha</h4>-->
<!--        </div>-->
<!--    </div>-->
</div>