<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<div class="container-fluid"
     xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-md-4">
            <table class="table table-borderless table-condensed">

                <tr>
                    <td class="text-muted">Due Date</td>
                    <td th:text="${dueDate}" class="no-word-wrap">12-2-2020</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th class="col-xs-7 long-text">Item</th>
                    <th class="col-xs-2">Quantity</th>
                    <th class="col-xs-3">Attachment</th>
                </tr>

                <th:block th:each="entry:${entries}">
                    <tr>
                        <td>
                            <div>
                                <b th:text="${entry.item}">Item 1</b><br/>
                                <i class="long-text" th:text="${entry.notes}"> Some loong description about the request</i>
                            </div>
                        </td>
                        <td>
                            <b th:text="${entry.requestedQuantity}" class="no-word-wrap">456</b>
                        </td>
                        <td>
                            <th:block th:with="attachments=${entry.attachments}">
                                <div th:replace="core/_attachments::attachments"></div>
                            </th:block>
                        </td>
                    </tr>
                </th:block>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3 class="text-muted">Submitted By</i></h3>
            <h4 th:text="${creator}">Marwa Chacha</h4>
        </div>
    </div>
</div>