<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div xmlns:th="http://www.thymeleaf.org"
     class="container-fluid"
     th:with="payrollService=${applicationContext.getBean('payrollService')}">

    <div class="row">

        <div class="col col-lg-4">
            <table class="table table-sm table-borderless table-condensed">
                <tr>
                    <th>ID</th>
                    <td th:text="${payroll.id}">1234</td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td th:text="${payroll.getStatus()}">Closed</td>
                </tr>

                <tr>
                    <th>Period</th>
                    <td th:text="${payroll.period}">JAN</td>
                </tr>

                <tr>
                    <th>Contracts</th>
                    <td th:text="${payrollService.countPays(payroll)}">123</td>
                </tr>

                <tr>
                    <th>Total</th>
                    <td th:text="${payrollService.calculateTotal(payroll)}">123</td>
                </tr>

                <tr>
                    <th>Created On</th>
                    <td th:text="${#temporals.format(payroll.timeCreated, 'yyyy-MM-dd HH:mm:ss')}">12-3-2018 04:56</td>
                </tr>

                <tr>
                    <th>Created By</th>
                    <td th:text="${payroll.creator}">Boniface Chacha</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">

        <div class="col col-lg-4  align-self-end">
            <h3>Income</h3>
            <table class="table  table-sm  table-bordered">

                <th:block th:each="income:${payroll.incomes}">
                    <tr>
                        <th th:text="${income.name}">House</th>
                        <td th:text="${payrollService.calculateTotalIncome(payroll,income)}">2,000,0000 TZS</td>
                    </tr>
                </th:block>
                <tr class="table-info">
                    <th>Total</th>
                    <td th:text="${payrollService.calculateTotalOtherIncome(payroll)}">2,000,0000 TZS</td>
                </tr>
            </table>
        </div>

        <div class="col col-lg-4  align-self-end">
            <h3>Employee Contribution</h3>
            <table class="table  table-sm  table-bordered">

                <th:block th:each="deduction:${payroll.deductions}">
                    <tr>
                        <th th:text="${deduction.name}">PAYE</th>
                        <td th:text="${payrollService.calculateTotalEmployeeContribution(payroll,deduction)}">2,000,0000 TZS</td>
                    </tr>
                </th:block>
                <tr class="table-info">
                    <th>Total</th>
                    <td th:text="${payrollService.calculateTotalEmployeeContribution(payroll)}">2,000,0000 TZS</td>
                </tr>
            </table>
        </div>


        <div class="col col-lg-4 align-self-end">
            <h3>Employer Contribution</h3>
            <table class="table  table-sm  table-bordered">

                <th:block th:each="deduction:${payroll.deductions}">
                    <tr>
                        <th th:text="${deduction.name}">PAYE</th>
                        <td th:text="${payrollService.calculateTotalEmployerContribution(payroll,deduction)}">2,000,0000 TZS</td>
                    </tr>
                </th:block>
                <tr class="table-info">
                    <th>Total</th>
                    <td th:text="${payrollService.calculateTotalEmployerContribution(payroll)}">2,000,0000 TZS</td>
                </tr>
            </table>
        </div>
    </div>
</div>