<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div xmlns:th="http://www.thymeleaf.org"
     class="container-fluid">

    <div class="row">
        <div class="col-auto col-md-6 col-lg-4">
            <div class="row">
                <div class="col-12">
                    <th:block th:with="employee=${submittedDeduction.employee}">
                        <div th:replace="hr/_employee::picture">
                            <span>Employee Basics</span>
                        </div>
                    </th:block>
                </div>

                <div class="col-12">
                    <span class="long-text lead" th:text="${submittedDeduction.description}">30000 for Transport by P&amp;E Project Admin</span>
                </div>

                <div class="col-12">
                    <th:block th:with="attachments=${submittedDeduction.attachments}">
                        <div th:replace="core/_attachments::attachments">
                            <span>Attachments</span>
                        </div>
                    </th:block>
                </div>
            </div>

        </div>

        <div class="col col-md-6 col-lg-4">
            <table class="table  table-bordered">
                <tr>
                    <th>Income</th>
                    <td th:text="${submittedDeduction.deduction}">PAYE</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td th:text="${submittedDeduction.date}">14/09/2013</td>
                </tr>
                <tr>
                    <th>Due</th>
                    <td th:text="${submittedDeduction.dueDate}">14/09/2013</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td th:text="${submittedDeduction.getStatus()}">Pending</td>
                </tr>
                <tr>
                    <th>Employee Contr. Formula</th>
                    <td th:text="${submittedDeduction.employeeContr}">20% of GROSS INCOME</td>
                </tr>
                <tr>
                    <th>Employer Contr. Formula</th>
                    <td th:text="${submittedDeduction.employerContr}">10% of GROSS INCOME</td>
                </tr>
                <tr>
                    <th>Calculated Employee Contr.</th>
                    <td th:text="${submittedDeduction.calculatedEmployeeContrAmount}">123,000 TZS</td>
                </tr>
                <tr>
                    <th>Calculated Employer Contr.</th>
                    <td th:text="${submittedDeduction.calculatedEmployerContrAmount}">223,000 TZS</td>
                </tr>
                <tr>
                    <th>Associated Pay Ref</th>
                    <td th:text="${submittedDeduction?.pay?.id}">1234</td>
                </tr>
                <tr>
                    <th>By</th>
                    <td th:text="${submittedDeduction.creator}">Boniface Chacha</td>
                </tr>
                <tr>
                    <th>Posted</th>
                    <td th:text="${submittedDeduction.timeCreated}">14/09/2013 08:09</td>
                </tr>
                <tr>
                    <th>Reference</th>
                    <td th:text="${submittedDeduction.id}">PAYE</td>
                </tr>
            </table>
        </div>
    </div>
</div>