/*TEXT WRAPPING*/
.no-word-wrap {
  white-space: nowrap
}

.pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/*TABLE BORDERING*/

table.table-bordered {
  border-collapse: collapse;
}

table.table-bordered > tbody > tr > td, table.table-bordered > tbody > tr > th {
  padding: 5px;
  border: 1px solid gray;
  vertical-align: top;
}

table.table-bottom-bordered {
  border-collapse: collapse;
}

table.table-bottom-bordered > tbody > tr > td, table.table-bottom-bordered > tbody > tr > th {
  border-bottom: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

table.table-bottom-bordered > tbody > tr > th {
  vertical-align: bottom;
}

table.table-bottom-bordered > tbody > tr > td {
  vertical-align: top;
}

.clickable {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.text-right {
  text-align: right !important;
}

/*Position content right but the container should have property   position: relative;*/
.right {
  position: absolute;
  right: 0px;
}

.money {
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}

.long-text, .v-label-long-text, table > tbody > tr > td.long-text, table > tbody > tr > th.long-text {
  white-space: pre-wrap !important;
}

.width33 {
  width: 33%;
}

.width50 {
  width: 50%;
}

.width77 {
  width: 77%;
}

.width100 {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.well {
  background-color: #EEEEEE;
}

.no-border {
  border: none !important;
}

.left-vertical-line {
  border-left: 1px solid #ddd;
}

.top5 {
  margin-top: 5px;
}

.top7 {
  margin-top: 7px;
}

.top10 {
  margin-top: 10px;
}

.top15 {
  margin-top: 15px;
}

/*.logo{*/
/*width: 200px;*/
/*}*/

.caption {
  color: grey;
  font-weight: 300;
}

.table-borderless td, .table-borderless th {
  border: none !important;
}

.v-grid-row.text-warning, .text-warning {
  color: #f1c40f !important;
}

.v-grid-row.text-danger, .text-danger {
  color: #f13939 !important;
}

.v-grid-row.text-success, .text-success {
  color: #4cf1a9 !important;
}

.text-normal {
  color: #E5E4E2 !important;
}

.font-size-huge {
  font-size: 100px;
}

//.parent {
//  background-image: url("img/tower2.jpg");
//  background-size: cover;
//
//}

.submit-button .v-captiontext {
  color: #ffffff;
}

.submit-button {
  background-color: rgba(40, 149, 23, 0.87);
  border-radius: 6px;
}

.v-caption-inputs {
  color: white;
}
