@import "variables";
@import "../valo/valo";
@import "../valo/valo.scss";
@import "custom";

.dimension {
  @include valo;
}

.v-button-warning {
  @include valo-button-style($background-color: #eb7b3f, $unit-size: null);
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 10px !important;
}

.view-header {
  color: #4c70ba;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.items_grid td {
  height: 80px !important; /* define row height */
  border: none;
}

.v-slot-summary-label {
  padding-left: 10px;
  border-left: 3px solid lightgrey;
  margin-bottom: 10px;
}

.no-stripes .v-grid-row-stripe > td {
  background-color: #FFF;
}

.resource-row > td {
  background-color: #FFF !important;
}

.role-row > td {
  font-weight: bold;
}

.section-row > td {
  background-color: lightblue !important;
  font-size: 16px !important;
  font-weight: bold;
}

.no-stripes .v-treegrid-row-stripe > td {
  background-color: #FFF;
}

.text-small .v-treegrid-cell {
  font-size: 11px;
}

.summary-card {
  padding: 15px !important;
}

.parent {
  background-image: url("img/login-bg.png");
  background-size: cover;
}


.mytext {
  color: white;
}


.plain-button {
  -moz-user-select: none;
  background: rgba(149, 141, 156, 0.3);
  border: 1px solid #7a7a7a;
  box-shadow: 0 1px #082783 inset;
  color: white;
  padding: 3px 5px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #535458;
  font: 12px Verdana, sans-serif;
}

.picture-field {
  border: 2px solid lightgrey;
}

.light-grid .v-grid-cell-focused {
  background: rgba(149, 141, 156, 0.3) !important;
  color: #082783 !important;
  text-shadow: none !important;
}

.light-grid .v-grid-row-selected > .v-grid-cell {
  background: #ffffff !important;
  color: #082783 !important;
  text-shadow: none !important;
}

.centered-content-grid-70 .v-grid-body .v-grid-row .v-grid-cell {
  height: 70px;
  line-height: 70px;
}

.centered-content-grid-100 .v-grid-body .v-grid-row .v-grid-cell {
  height: 100px;
  line-height: 100px;
}