<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>

<style>
    .issue {
        border-bottom: 1px lightgrey solid;
    }

    .comments {
        margin-top: 20px;
    }

    .comment {
        padding: 10px;
    }

    .resolution {
        padding: 10px;
    }
</style>
<div class="container-fluid"
     xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-xs-12 issue">
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-circle"
                         th:src="'VAADIN/themes/dimension/img/profile-pic-300px.jpg'"
                         src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4"
                         style="width: 40px">
                </div>
                <div class="media-body">
                    <strong th:class="${issue.isResolved()?'text-success':'text-warning'} +' media-heading'"
                            class="text-success media-heading"
                            th:text="${issue.creator}">Boniface Chacha</strong>
                    <br/>
                    <small class="text-muted"
                           th:text="${#temporals.format(issue.timeCreated, 'dd MMMM yyyy HH:mm')}">
                        12th December 2017
                    </small>
                </div>
            </div>
            <div>
                <p th:text="${issue.content}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis sem, dictum id bibendum eget,
                    malesuada ut massa. Ut scel erisque nulla sed luctus dapibus. Nulla sit amet mi vitae purus sol
                    licitudin venenatis. Praesent et sem urna. Integer vitae lectus nis l. Fusce sapien ante, tristique
                    efficitur lorem et, laoreet
                </p>
            </div>
            <div>
                <ol>
                    <th:block th:with="attachments=${issue.attachments}">
                        <div th:replace="core/_attachments::attachments">
                            <span>Attachments</span>
                        </div>
                    </th:block>
                </ol>
            </div>
        </div>

        <div class="col-xs-12 resolution well" th:if="${issue.resolved}">
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-circle"
                         th:src="'VAADIN/themes/dimension/img/profile-pic-300px.jpg'"
                         src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4"
                         style="width: 40px">
                </div>
                <div class="media-body">
                    <strong class="media-heading"
                            th:text="${issue.resolution.creator}">Boniface Chacha</strong>
                    <br/>
                    <small class="text-muted"
                           th:text="${#temporals.format(issue.resolution.timeCreated, 'dd MMMM yyyy HH:mm')}">
                        12th December 2017
                    </small>
                </div>
            </div>
            <div>
                <p th:text="${issue.resolution.content}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis sem, dictum id bibendum eget,
                    malesuada ut massa. Ut scel erisque nulla sed luctus dapibus. Nulla sit amet mi vitae purus sol
                    licitudin venenatis. Praesent et sem urna. Integer vitae lectus nis l. Fusce sapien ante, tristique
                    efficitur lorem et, laoreet
                </p>
            </div>
            <div>
                <ol>
                    <th:block th:with="attachments=${issue.resolution.attachments}">
                        <div th:replace="core/_attachments::attachments">
                            <span>Attachments</span>
                        </div>
                    </th:block>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 comments">


            <th:block th:each="comment:${issue.comments}">
                <div class="row comment">
                    <div class="col-xs-12">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img alt="64x64" class="media-object img-circle"
                                         style="width: 40px; height: 40px;"
                                         th:src="'VAADIN/themes/dimension/img/profile-pic-300px.jpg'"
                                         src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"
                                         data-holder-rendered="true">
                                </a>
                            </div>
                            <div class="media-body">
                                <strong class="media-heading text-primary"
                                        th:text="${comment.creator}">Samson Chacha</strong>
                                <p th:text="${comment.content}"> Cras sit amet nibh libero, in gravida nulla. Nulla vel
                                    metus scelerisque ante
                                    sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                    turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                    felis
                                    in faucibus.</p>
                                <div>
                                    <ol>
                                        <th:block th:with="attachments=${comment.attachments}">
                                            <div th:replace="core/_attachments::attachments">
                                                <span>Attachments</span>
                                            </div>
                                        </th:block>

                                    </ol>
                                </div>
                                <small class="text-muted"
                                       th:text="${#temporals.format(comment.timeCreated, 'dd MMMM yyyy HH:mm')}">
                                    12th December 2017
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>